<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.Group_213.vrsportstrainingappunity3d"
          android:installLocation="auto">

	<!-- Required for Firebase -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Required for Quest -->
	<uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />

	<application
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:allowBackup="false"
        tools:replace="android:allowBackup">

		<!-- Quest device targeting -->
		<meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s" />

		<activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:resizeableActivity="false"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="com.oculus.intent.category.VR" />
			</intent-filter>

			<meta-data
                android:name="com.oculus.vr.focusaware"
                android:value="true" />
		</activity>

		<!-- Firebase messaging icon -->
		<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_icon" />

	</application>

</manifest>